[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git

[submodule "external/tabulate"]
	path = external/tabulate
	url = https://github.com/p-ranav/tabulate.git
